:root {
    --Color0: #DBDBE5;
    --Color1: #DC191B;
    --Color2: #E5BB4B;
    --Color3: #585958;
    --Color4: #E5E5E5;
}


.containerSlogan {
    background-image: linear-gradient(rgba(0, 0, 0, 0.980), rgba(0, 0, 0, 0.490)),
    url(/src/assets/products/reloj1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
  
   
}

.spam {
    color: var(--Color0);
    letter-spacing: 10px;

}